Repository TrevorPLam/websites: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, pnpm validate-docs --staged

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,md}": [
    "prettier --write"
  ],
  "docs/**/*.md": [
    "prettier --write",
    "pnpm validate-docs --staged"
  ]
}

Update package.json
  packages/marketing-components/package.json
Due: prettier --write

refactor: Update TASKS.md with strategic execution plan and phased automation
  tasks/TASKS.md
  tasks/VERIFICATION.md
Due: prettier --write

fix: add .next/, .turbo/, .claude/ to gitignore
  .gitignore
Due: none

feat: marketing components, theme updates, and tooling scripts
  package.json
  packages/infra/index.ts
  packages/infrastructure/theme/src/css-vars.ts
  packages/infrastructure/theme/src/extension.ts
  packages/infrastructure/theme/src/tokens.ts
  packages/integrations-core/src/client.ts
  packages/integrations-core/src/dlq.ts
  packages/integrations-core/src/errors.ts
  packages/integrations-core/tsconfig.json
  packages/integrations/analytics/tsconfig.json
  packages/integrations/hubspot/tsconfig.json
  packages/marketing-components/src/components/Blog.tsx
  packages/marketing-components/src/components/CTA.tsx
  packages/marketing-components/src/components/Gallery.tsx
  packages/marketing-components/src/components/Hero.tsx
  packages/marketing-components/src/components/Industry.tsx
  packages/marketing-components/src/components/Pricing.tsx
  packages/marketing-components/src/components/Services.tsx
  packages/marketing-components/src/components/Team.tsx
  packages/marketing-components/src/components/Testimonials.tsx
  packages/marketing-components/src/index.ts
  packages/marketing-components/src/types/global.d.ts
  packages/marketing-components/src/types/index.ts
  packages/ui/src/components/ScriptManager.tsx
  packages/ui/src/components/Toast.tsx
  scripts/turbo-workaround.js
  scripts/type-check-all.js
  tasks/updates/2026-02-19-status.md
Due: prettier --write, eslint --fix

fix(type-check): resolve all CI type-check failures across workspace
  .lintstagedrc.json
  clients/bistro-central/app/blog/[slug]/page.tsx
  clients/bistro-central/site.config.ts
  clients/chen-law/app/blog/[slug]/page.tsx
  clients/chen-law/site.config.ts
  clients/luxe-salon/app/blog/[slug]/page.tsx
  clients/luxe-salon/site.config.ts
  clients/starter-template/app/[locale]/blog/[slug]/page.tsx
  clients/starter-template/app/[locale]/layout.tsx
  clients/starter-template/i18n/request.ts
  clients/starter-template/package.json
  clients/sunrise-dental/app/blog/[slug]/page.tsx
  clients/sunrise-dental/site.config.ts
  clients/urban-outfitters/app/blog/[slug]/page.tsx
  clients/urban-outfitters/site.config.ts
  package.json
  packages/marketing-components/package.json
  packages/marketing-components/src/components/Gallery.tsx
  packages/marketing-components/src/components/Industry.tsx
  packages/marketing-components/src/hero/__tests__/HeroCentered.test.tsx
  packages/marketing-components/src/index.ts
  packages/marketing-components/src/types/global.d.ts
  packages/marketing-components/src/types/index.ts
  packages/page-templates/src/sections/blog.tsx
  packages/page-templates/src/sections/home.tsx
  packages/page-templates/src/sections/industry.tsx
  packages/page-templates/src/sections/services.tsx
  packages/ui/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat: security hardening, remove NotImplementedPlaceholder, fix stale docs
  CLAUDE.md
  README.md
  THEGOAL.md
  docs/4-explanation/architecture/index.md
  docs/accessibility-audit.md
  docs/adr/0004-dockerfile-standalone-output.md
  docs/adr/0005-tailwind-v4-migration.md
  docs/architecture/README.md
  docs/architecture/migration-map-shared-to-types.md
  docs/architecture/route-registry.md
  docs/architecture/security/supply-chain.md
  docs/evaluation/tailwind-v4-migration.md
  docs/features/booking/ADR-001-booking-extraction.md
  docs/features/booking/usage.md
  docs/features/search/usage.md
  docs/performance-baseline.md
  docs/release/next16-migration-evaluation.md
  docs/testing/refactor-parity-matrix.md
  packages/page-templates/src/NotImplementedPlaceholder.tsx
  packages/page-templates/src/index.ts
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix, pnpm validate-docs --staged

Sync with remote - remote takes priority on conflicts
  packages/features/src/team/components/TeamSection.tsx
  packages/marketing-components/package.json
  packages/marketing-components/src/components/Industry.tsx
  packages/marketing-components/src/gallery/GalleryGrid.tsx
  packages/marketing-components/src/gallery/index.ts
  packages/marketing-components/src/index.ts
  packages/marketing-components/tsconfig.json
  packages/page-templates/src/sections/blog.tsx
  packages/page-templates/src/sections/services.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --fix

74
  TODO.md
  docs/analysis/ADVANCED-CODE-PATTERNS-ANALYSIS.md
  tasks/RESEARCH-INVENTORY.md
  tasks/TASKS.md
  tasks/c-5-design-tokens.md
  tasks/f-21-error-handling-system.md
  tasks/inf-1-dynamic-section-registry.md
  tasks/inf-10-integration-adapter-registry.md
  tasks/inf-12-theme-preset-library.md
  tasks/inf-2-component-variant-schema.md
  tasks/inf-4-design-token-overrides.md
  tasks/inf-8-layout-template-registry.md
Due: prettier --write, pnpm validate-docs --staged

76
  clients/starter-template/app/[locale]/layout.tsx
  docs/design/design-token-architecture.md
  packages/config/package.json
  packages/config/tailwind-theme.css
  packages/config/tokens/component-tokens.css
  packages/config/tokens/decision-tokens.css
  packages/config/tokens/option-tokens.css
  packages/page-templates/package.json
  packages/page-templates/src/registry.ts
  packages/types/src/index.ts
  packages/types/src/site-config.ts
  packages/types/src/theme-presets.ts
  packages/ui/src/components/Alert.tsx
  packages/ui/src/components/Badge.tsx
  packages/ui/src/components/Card.tsx
  packages/ui/src/components/Container.tsx
  packages/ui/src/components/Skeleton.tsx
  packages/ui/src/components/ThemeInjector.tsx
  packages/ui/src/components/Toggle.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, pnpm validate-docs --staged

77
  TODO.md
Due: prettier --write

feat: complete Wave 2.3, 3.3, 3.5 + fix critical LocaleProviders rendering bug
  TODO.md
  clients/bistro-central/app/layout.tsx
  clients/chen-law/app/layout.tsx
  clients/luxe-salon/app/layout.tsx
  clients/starter-template/app/[locale]/LocaleProviders.tsx
  clients/starter-template/package.json
  clients/sunrise-dental/app/layout.tsx
  clients/urban-outfitters/app/layout.tsx
  packages/features/src/booking/index.ts
  packages/features/src/booking/lib/__tests__/booking-providers-registry.test.ts
  packages/features/src/booking/lib/booking-providers.ts
  packages/infra/package.json
  packages/types/src/theme-presets.ts
  packages/ui/src/components/Tabs.tsx
  packages/ui/src/components/ThemeInjector.tsx
  packages/ui/src/components/__tests__/Tabs.test.tsx
  pnpm-lock.yaml
Due: prettier --write, eslint --fix

feat(ui): CVA batch migration for Switch, Input, Checkbox, Textarea, RadioGroup, Progress
  TODO.md
  packages/ui/src/components/Checkbox.tsx
  packages/ui/src/components/Input.tsx
  packages/ui/src/components/Progress.tsx
  packages/ui/src/components/RadioGroup.tsx
  packages/ui/src/components/Switch.tsx
  packages/ui/src/components/Textarea.tsx
Due: prettier --write, eslint --fix

feat: tasks 3.4 slot templates + 4.1 use cache + 4.3 light/dark theme
  TODO.md
  clients/starter-template/app/[locale]/LocaleProviders.tsx
  clients/starter-template/app/[locale]/ThemeToggle.tsx
  clients/starter-template/app/layout.tsx
  clients/starter-template/next.config.js
  clients/starter-template/package.json
  docs/configuration/slot-based-templates.md
  packages/page-templates/src/templates/AboutPageTemplate.tsx
  packages/page-templates/src/templates/BlogIndexTemplate.tsx
  packages/page-templates/src/templates/BlogPostTemplate.tsx
  packages/page-templates/src/templates/BookingPageTemplate.tsx
  packages/page-templates/src/templates/ContactPageTemplate.tsx
  packages/page-templates/src/templates/HomePageTemplate.tsx
  packages/page-templates/src/templates/ServicesPageTemplate.tsx
  packages/page-templates/src/types.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, pnpm validate-docs --staged

Execute THEPLAN: NEW.md alignment and organic evolution
  .context/MAP.md
  .context/RULES.md
  .cursor/rules/caca-architecture.mdc
  .windsurf/rules/marketing-websites.md
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  QWEN.md
  RESEARCH.md
  THEGOAL.md
  THEPLAN.md
  docs/README.md
  docs/adr/0006-configuration-as-code-architecture.md
  docs/adr/0012-canonical-types-data-contracts.md
  docs/architecture/README.md
  docs/architecture/evolution-roadmap.md
  docs/configuration/site-config-reference.md
  llms.txt
  tasks/README.md
  tasks/RESEARCH-INVENTORY.md
  tasks/TASKS.md
  tasks/c-5-design-tokens.md
  tasks/evol-1-architecture-police.md
  tasks/evol-10-edge-database-opt-in.md
  tasks/evol-11-legacy-bridge.md
  tasks/evol-12-full-platform-convergence.md
  tasks/evol-2-cva-token-completion.md
  tasks/evol-3-registry-capability-metadata.md
  tasks/evol-4-canonical-types.md
  tasks/evol-5-booking-canonical-migration.md
  tasks/evol-6-integration-adapter-registry.md
  tasks/evol-7-define-feature.md
  tasks/evol-8-site-config-capability-activation.md
  tasks/evol-9-universal-renderer.md
  tasks/inf-1-dynamic-section-registry.md
  tasks/inf-10-integration-adapter-registry.md
  tasks/inf-14-feature-plugin-interface.md
  tasks/inf-2-component-variant-schema.md
Due: prettier --write, pnpm validate-docs --staged

docs: align documentation with NEW.md evolution phases
  .cursor/rules/task-execution.mdc
  TODO.md
  docs/analysis/ADVANCED-CODE-PATTERNS-ANALYSIS.md
  docs/architecture/client-config-strategy.md
  docs/architecture/module-boundaries.md
  docs/architecture/page-templates-status.md
  docs/design/design-token-architecture.md
  docs/features/booking/ADR-001-booking-extraction.md
  docs/features/booking/usage.md
  docs/getting-started/onboarding.md
  docs/migration/template-to-client.md
  docs/platform/golden-path-new-client.md
  docs/platform/golden-path-new-feature.md
  docs/research/RESEARCH-INTEGRATION.md
  docs/resources/glossary.md
  packages/AGENTS.md
  tasks/0-2-replace-internal-bookings-persistent-storage.md
Due: prettier --write, pnpm validate-docs --staged

docs: align THEGOAL.md completely with NEW.md organic evolution
  THEGOAL.md
Due: prettier --write

tasks: add missing Pre-Phase tasks from NEW.md (0-1, 0-3)
  tasks/0-1-fix-critical-ci-failures.md
  tasks/0-3-fix-tenant-context-security.md
  tasks/TASKS.md
Due: prettier --write

docs: extract NEW.md+THEPLAN info and archive THEPLAN
  .context/MAP.md
  THEPLAN.md
  docs/architecture/evolution-roadmap.md
  docs/archive/NEW-THEPLAN-EXTRACTION-INDEX.md
  docs/archive/README.md
  docs/archive/THEPLAN-2026-02-19-executed.md
  tasks/ARCHIVE.md
Due: prettier --write, pnpm validate-docs --staged

docs: consolidate evolution-roadmap and NEW into ROADMAP, archive sprawl
  .context/MAP.md
  NEW.md
  ROADMAP.md
  THEGOAL.md
  THEPLAN.md
  docs/architecture/evolution-roadmap.md
  docs/archive/NEW-2026-02-20.md
  docs/archive/NEW-THEPLAN-EXTRACTION-INDEX.md
  docs/archive/README.md
  docs/archive/THEPLAN-2026-02-19-executed.md
  docs/archive/evolution-roadmap-2026-02-19.md
  tasks/ARCHIVE.md
  tasks/TASKS.md
Due: prettier --write, pnpm validate-docs --staged

tasks: align with ROADMAP north star
  TODO.md
  tasks/0-1-fix-critical-ci-failures.md
  tasks/0-2-replace-internal-bookings-persistent-storage.md
  tasks/0-3-fix-tenant-context-security.md
  tasks/README.md
  tasks/TASKS.md
  tasks/c-5-design-tokens.md
  tasks/evol-1-architecture-police.md
  tasks/evol-10-edge-database-opt-in.md
  tasks/evol-11-legacy-bridge.md
  tasks/evol-12-full-platform-convergence.md
  tasks/evol-2-cva-token-completion.md
  tasks/evol-3-registry-capability-metadata.md
  tasks/evol-4-canonical-types.md
  tasks/evol-5-booking-canonical-migration.md
  tasks/evol-5a-booking-canonical-types.md
  tasks/evol-5b-booking-repository-migration.md
  tasks/evol-6-integration-adapter-registry.md
  tasks/evol-7-define-feature.md
  tasks/evol-7a-define-feature-infra.md
  tasks/evol-7b-booking-feature-registration.md
  tasks/evol-8-site-config-capability-activation.md
  tasks/evol-9-universal-renderer.md
  tasks/evol-9a-activate-capabilities.md
  tasks/evol-9b-universal-page.md
  tasks/inf-1-dynamic-section-registry.md
  tasks/inf-10-integration-adapter-registry.md
  tasks/inf-14-feature-plugin-interface.md
  tasks/inf-2-component-variant-schema.md
Due: prettier --write

77
  tasks/0-1-fix-critical-ci-failures.md
  tasks/0-2-replace-internal-bookings-persistent-storage.md
  tasks/0-3-fix-tenant-context-security.md
  tasks/RESEARCH-INVENTORY.md
  tasks/evol-1-architecture-police.md
  tasks/evol-5a-booking-canonical-types.md
  tasks/evol-5b-booking-repository-migration.md
  tasks/evol-7a-define-feature-infra.md
  tasks/evol-7b-booking-feature-registration.md
  tasks/evol-9a-activate-capabilities.md
  tasks/evol-9b-universal-page.md
Due: prettier --write

add scaffold gap analysis and missing task specs
  tasks/scaffold-ai-platform-agent-orchestration.md
  tasks/scaffold-ai-platform-content-engine.md
  tasks/scaffold-ai-platform-llm-gateway.md
  tasks/scaffold-content-platform-dam-core.md
  tasks/scaffold-content-platform-visual-editor.md
  tasks/scaffold-features-authentication.md
  tasks/scaffold-features-content-management.md
  tasks/scaffold-features-ecommerce.md
  tasks/scaffold-features-notification.md
  tasks/scaffold-features-payment.md
  tasks/scaffold-gap-analysis-2026-02.md
  tasks/scaffold-infrastructure-tenant-core.md
  tasks/scaffold-integrations-convertkit-events.md
  tasks/scaffold-integrations-sendgrid-events.md
  tasks/scaffold-marketing-ops-campaign-orchestration.md
Due: prettier --write

Update scaffold-integrations-convertkit-events.md
  tasks/scaffold-integrations-convertkit-events.md
Due: prettier --write

Update scaffold-integrations-sendgrid-events.md
  tasks/scaffold-integrations-sendgrid-events.md
Due: prettier --write

feat(tooling): wire client generators and config validation cli
  package.json
  tasks/updates/2026-02-19-status.md
  tooling/validation/src/validate-site-config.ts
  turbo/generators/config.ts
Due: prettier --write, eslint --fix

Update validate-site-config.ts
  tooling/validation/src/validate-site-config.ts
Due: prettier --write, eslint --fix

Update config.ts
  turbo/generators/config.ts
Due: prettier --write, eslint --fix

docs(tasks): batch page-template cleanup and status alignment
  README.md
  ROADMAP.md
  tasks/6-9a-remove-not-implemented-placeholder.md
  tasks/6-9c-update-docs-page-templates-state.md
  tasks/updates/2026-02-20-task-execution-status.md
Due: prettier --write

docs: execute stale-template audit and refine knip pruning
  docs/adr/0004-dockerfile-standalone-output.md
  docs/cleanup/dependency-pruning-report.md
  docs/performance-baseline.md
  docs/resources/faq.md
  docs/resources/glossary.md
  docs/tooling/validate-exports.md
  knip.config.ts
  tasks/6-1a-audit-stale-templates-references.md
  tasks/6-9b-refine-knip-dependency-pruning.md
  tasks/c-1-c-18-d-1-d-8.md
Due: prettier --write, eslint --fix, pnpm validate-docs --staged

feat(0-2,0-3): BookingRepository abstraction and secure tenant context
  __mocks__/server-only.js
  jest.config.js
  packages/config/eslint-config/boundaries.js
  packages/features/src/booking/index.ts
  packages/features/src/booking/lib/__tests__/booking-repository.test.ts
  packages/features/src/booking/lib/booking-actions.ts
  packages/features/src/booking/lib/booking-repository.ts
  packages/infra/src/auth/__tests__/tenant-context.test.ts
  packages/infra/src/auth/tenant-context.ts
Due: prettier --write, eslint --fix

chore: add proper .gitignore for monorepo
  .gitignore
Due: none

Update booking-actions.ts
  packages/features/src/booking/lib/booking-actions.ts
Due: prettier --write, eslint --fix

Update Calendar.tsx
  packages/ui/src/components/Calendar.tsx
Due: prettier --write, eslint --fix
